<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet">

<style>
    @media screen and (min-width: 425px) {
     .body-container{
        padding: 20px 20px;
     }
     .contaier-area{
        padding: 20px 20px;
     }
    }
  </style>
<body style="background: #0A2E3E;padding: 50px 50px;font-family: 'Roboto', sans-serif;font-size: 16px;color: #434244;" class="body-container">
    <div style="margin:0px auto;background: #fff;padding: 30px 50px;min-height: 200px;max-width:25em;border-radius:15px;" class="contaier-area">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>
                    <img src="">
                </td>
            </tr>
            <tr>
                <td style="font-size: 1.50em;font-weight:600;padding: 15px 0px;">
                    Reset Your Password
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:15px;">
                    <p>Hey there!</p>
                    <p>Looks like you want to reset your password. Please click on the button below to proceed.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ base_url }}reset-password/?key={{ key }}" target="_blank" style="font-size:1.1em;background:#2EA664;color:  #ffffff;border-radius: 5px;padding: 10px 20px;text-decoration: none">Choose New Password</a>
                </td>
            </tr>
            <tr>
                <td style="padding-top:15px;padding-bottom:30px;">
                    <p>Ignore this email if you are not looking to update your password.</p>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid #434244"></td>
            </tr>
            <tr>
                <td style="padding-top:5px;">
                    <span>Best Regards,</span>
                    <strong style="display:block;">Roofbid Support Team</strong>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>